/**********************************************************/ 
/*              Lenguaje de Marcas curso 23/24            */ 
/*                      My CSS  Stylesheet                */ 
/*                      JavaScript Exercises              */
/*               Author:Sandra Barbara Pirpamer           */
/*********************************************************/    

/******validation text styling***/

.form-text { visibility:hidden; }

        .card {
            margin: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            height: 500px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .card-img-top {
            height: 350px;  /* Altura que desees */
            object-fit: contain;  /* Esto hará que la imagen cubra el espacio disponible sin distorsionarse */
        }

        .card-body .btn {
            font-size: 1.2rem;
            width: 100%;
        }

        .border-purple{
            border-color:purple  !important;
        }

        .btn-purple{
            outline-color: purple;
            color: purple;
            background-color: purple;
        }

        .text-purple{
            color: purple;
        }

        .border-beige{
            border-color: #cc904b  !important;
        }

        .btn-beige{
            outline-color: #cc904b;
            color: #cc904b;
            background-color: #cc904b;
        }

        .text-beige{
            color: #cc904b;
        }

        


        @media (max-width: 768px) {
            .card {
               /* height: auto;  /* Altura automática para adaptarse a contenido variable */
                width: 100%;   /* Ancho completo en pantallas pequeñas */
            }

           /*  .card-img-top {
                height: 20rem;  /* Altura menor en pantallas pequeñas */
             
        }    